<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisteria.productCenter.mapper.SkuMapper">

    <resultMap id="baseResultMap" type="com.wisteria.common.entity.product.Sku">
        <id property="skuId" column="sku_id" jdbcType="INTEGER"/>
        <result property="skuCode" column="sku_code" jdbcType="VARCHAR"/>
        <result property="skuName" column="sku_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="normalItems">
        s.sku_id as skuId, s.sku_code as skuCode, s.sku_name as skuName
    </sql>

    <select id="loadSkuByCode" parameterType="java.lang.String" resultType="com.wisteria.common.entity.product.Sku">
        SELECT
        <include refid="normalItems"/>
        FROM product_center.Sku s where s.sku_code = #{skuCode};
    </select>

    <select id="loadSkuById" parameterType="int" resultType="com.wisteria.common.entity.product.Sku">
        SELECT
        <include refid="normalItems"/>
        FROM product_center.Sku s where s.sku_id = #{skuId};
    </select>

    <select id="loadSkuAll" resultType="com.wisteria.common.entity.product.Sku">
        SELECT
        <include refid="normalItems"/>
        FROM product_center.Sku s;
    </select>

    <insert id="insertSku" parameterType="com.wisteria.common.entity.product.Sku">
        INSERT INTO product_center.Sku
        (sku_code, sku_name)
        VALUES('#{skuCode}', '#{skuName}');
    </insert>

    <insert id="insertSkus" parameterType="java.util.List">
        INSERT INTO product_center.Sku
        (sku_code, sku_name)
        VALUES
        <foreach collection="skuList" item="item" index="index" separator=",">
            (
            #{item.skuCode},
            #{item.skuName}
            )
        </foreach>
    </insert>
</mapper>