<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisteria.saleTaskCenter.mapper.SaleOrderMapper">

    <insert id="insertSaleOrder" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.wisteria.saleCenterBase.entity.SaleOrder">
        INSERT INTO sale_center.sale_order
        (sale_order_id, status)
        VALUES
        (#{saleOrderId},#{status});
    </insert>

    <insert id="insertSaleOrderItems" useGeneratedKeys="true" keyProperty="itemId"
            parameterType="java.util.List">
        INSERT INTO sale_center.sale_order_item
        (parent_id, sku_code, price, quantity)
        VALUES
        <foreach collection="saleOrderItems" item="item" index="index" separator=",">
            (
            #{item.parentId},#{item.skuCode},#{item.price},#{item.quantity}
            )
        </foreach>
    </insert>

    <insert id="insertSaleMqError" parameterType="java.lang.String">
        INSERT INTO sale_center.sale_mq_error
        (mq_error, status)
        VALUES(#{message}, 0);
    </insert>

</mapper>